In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or
not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [45]:
def is_symmetrical(a):
    l=[]
    l1=[]
    for i in str(a):
        l.append(i)
    l1=l[::-1]    
    if l==l1:
        return True

In [47]:
is_symmetrical(4444)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [13]:
x=input ("enter sequence of number")
x=x.split(",")
z=1
for i in x:
    z=z*int(i)
print(z)

enter sequence of number54,75,453,0
0

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer

In [69]:
def square_digits(num):
    s=""
    for i in str(num):
        y=int(i)*int(i)
        s=s+str(y)
    return int(s)

In [70]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [1]:

def ll(zz):
    zz.sort()
    for i in zz:
        if i in z:
            continue
        else:
            z.append(i)
    return (z)

In [8]:
zz=[3,3,3,2,1]
z=[]
ll(zz)

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [31]:
def mean(x):
    y=0
    for i in str(x):
        y=y+int(i)
    y=y//len(str(x))
    return y

In [35]:
mean(42)

3