1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
yob = int(input("Enter year of birth"))
years_list = []
if type(yob)==int:
    for i in range(yob,yob+6):
        years_list.append(i)
print(years_list)

Enter year of birth1997
[1997, 1998, 1999, 2000, 2001, 2002]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [3]:
years_list[3]

2000

3.In the years list, which year were you the oldest?

In [4]:
years_list[-1]

2002

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [6]:
things[1].capitalize()

'Cinderella'

In [7]:
things

['mozzarella', 'cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [8]:
surprise_list = ["Groucho" ,"Chico" ,"Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [9]:
surprise_1 = []
for i in surprise_list:
    if i!=surprise_list[-1]:
        surprise_1.append(i)
    else:
        b = i.lower()
        c = b[::-1]
        d = c.capitalize()
            
        surprise_1.append(d)
surprise_list=surprise_1
surprise_list

['Groucho', 'Chico', 'Oprah']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [10]:

def e2f(english_word):
    english = {"dog":"chein","cat":"chat","walrus":"morse"}
    for key,value in english.items():
        if key==english_word:
            print(english.get(english_word))

9. Write the French word for walrus in your three-word dictionary e2f.

In [11]:
e2f("walrus")

morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [12]:
def f2e(french_word):
    french = {"chien":"dog","chat":"cat","morse":"walrus"}
    for key,value in french.items():
        if key==french_word:
            print(french.get(french_word))

11. Print the English version of the French word chien using f2e.

In [13]:
f2e("chien")

dog

12. Make and print a set of English words from the keys in e2f.

In [14]:
def e2f():
    english = {"cat":"chat","walrus":"morse","dog":"chien"}
    english_set = set()
    for i in english.items():
        english_set.add(i[0])
    return english_set

In [15]:
e2f()

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [16]:
life = { 'animals' : { 'cats' : [ 'Henri', 'Grumpy', 'Lucy' ], 'octopi' : {}, 'emus' : {}  }, 'plants' : {}, 'other' : {} }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [ ]:
14. Print the top-level keys of life.

In [17]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [ ]:
15. Print the keys for life['animals'].

In [18]:
life['animals']

{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}

In [ ]:
16. Print the values for life['animals']['cats']

In [19]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']